body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  }

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
  background-color: black;
}

#logo {
  height: 50px;
  margin-left: 15px;
}

.nav {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.container {
  text-align: center;
}

a:link {
    color: seashell;
}

a:hover {
    color: seashell;
}

a:visited {
    color: seashell;
}

a:active {
    color: seashell;
    text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
 position: relative;
 top: 70px;
}

.mission {
  display: flex;
  align-items: center;
  background-image: url('../images/mission-background.jpg');
  width: 1200px;
  height: 700px;
  margin-bottom: 50px;
}

.missiontext {
  display: block;
  background-color: black;
  z-index: 4;
  width: 100%;
}

.teaofthemonth {
  width: 1000px;
}

.whatssteeping {
  display: block;
  background-color: black;
  z-index: 4;
}

.featuredteas {
  display: flex;
  width: 990px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.teas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 300px;
  margin: 0px 15px;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/locations-background.jpg');
  width: 1200px;
  height: 500px;
  padding-bottom: 100px;
}

.addresses {
  display: flex;
  width: 980px;
  justify-content: space-between;
}

#downtown, #eastbayside, #oakdale {
  background-color: black;
  width: 300px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#copyright {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px;
}
