body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  }

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

a:link {
    color: seashell;
}

a:hover {
    color: seashell;
}

a:visited {
    color: seashell;
}

a:active {
    color: seashell;
    text-decoration: underline;
}
